---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* FONTS */
$main-font: 'Barlow Condensed', sans-serif;
$heading-font: 'Barlow Condensed', sans-serif;
$regular-font-size: 18px;


/*
  COLOR.

  Make sure to leave color-scheme in config file empty for granular control
*/

$text-color: #000000;
$heading-color: #0077b3;
$link-color: #0077b3;

#grad {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

@import "ed";
@import "syntax";
